* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #ccc;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .content {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  padding: 20px 30px;
  margin: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.container .content .score {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  font-size: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 0;
  border-radius: 4px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}

.modal-content #game-over {
  font-weight: bold;
  color: #f00;
}

.modal-content span {
  display: flex;
  flex-direction: row;
}
